@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 13px;
  }
  @supports (-webkit-touch-callout: none) {
    :root {
      font-size: 14px; /* iOS-specific font size */
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
}

/* h1 {
  background-color: green;
} */

/* .navlink::before {
  content: "";
  position: absolute;
  top: 40%;
  width: 120%;
  height: 12px;
  transform: skew(-12deg) translateX(-10%);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  background: #fcc0c5;
  z-index: -1;
} */

/* .navlink {
  padding-inline: 0.5rem;
}

.navlink::before {
  content: "";
  position: absolute;
  top: 40%;
  width: 100%;
  height: 12px;
  background: #fcc0c5;
  transform: scaleX(0) skew(-12deg) translate(-0.5rem); 
  transform-origin: -0.5rem; 
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  cursor: pointer;
}

.navlink-container:hover .navlink::before .navlink.active::before {
  transform: scaleX(1) skew(-12deg) translate(-0.5rem); 
} */

.navlink {
  padding-inline: 0.5rem;
}

.navlink::before {
  content: "";
  position: absolute;
  top: 40%;
  width: 100%;
  height: 12px;
  background: #fcc0c5;
  transform: scaleX(0) skew(-12deg) translate(-0.5rem); /* Initially hidden */
  transform-origin: left; /* Animation starts from the left */
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth animation */
  z-index: -2;
}

.navlink-container:hover .navlink::before,
.navlink.active::before {
  transform: scaleX(1) skew(-12deg) translate(-0.5rem); /* Line becomes visible */
}

.navlink.active::before {
  background: #f79d8e;
}

.footer-link::before {
  content: "";
  position: absolute;
  top: 75%; /* Align vertically */
  left: -0.5rem; /* Start from the left */
  width: calc(100% + 1rem); /* Full width of the link */
  height: 12px; /* Height of the highlight */
  background: #fcc0c5; /* Highlight color */
  transform: translateY(-50%) scaleX(0) skew(-12deg); /* Hidden initially */
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1; /* Ensure it's behind the text */
}

.footer-link-container:hover .footer-link::before {
  transform: translateY(-50%) scaleX(1) skew(-12deg); /* Expand on hover */
}

.realistic-marker-highlight:before {
  content: "";
  background-color: #fcc0c5;
  width: calc(100% + 0.5em);
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.25em;
  top: 1px;
  padding: 0 0.25em;
  transform: skew(-345deg);
}

.realistic-marker-highlight2:before {
  content: "";
  background-color: #f7a976;
  width: calc(100% + 0.5em);
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.25em;
  top: 1px;
  padding: 0 0.25em;
  transform: skew(15deg);
}

.realistic-marker-highlight3:before {
  content: "";
  background-color: #f79d8e;
  width: calc(100% + 0.5em);
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.25em;
  top: 1px;
  padding: 0 0.25em;
  transform: skew(15deg);
}

.circle-sketch-highlight {
  position: relative;
  left: 0.5em;
}
.circle-sketch-highlight:before {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 4px;
  border-style: solid;
  border-color: #ef8c22;
  position: absolute;
  border-right-color: transparent;
  width: calc(100% + 0.5em);
  height: 1.5em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}
.circle-sketch-highlight:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 4px;
  border-style: solid;
  border-color: #ef8c22;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: calc(100% + 0.5em);
  height: 1.5em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

/* BURGER MENU BTN */

#nav-icon3 {
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #d3531a;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/* MENU */
.header-mobile {
  transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  visibility: hidden;
  transform: translateY(-100%);
  z-index: -2;
}

.header-mobile ul {
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -20%);
}

.header-mobile.show {
  transform: translateY(0);
  visibility: visible;
}

.header-mobile.show ul {
  opacity: 1;
  transform: translate(-50%, 10%);
}

/* CARDS SWIPER */
.cardsSwiper.swiper {
  width: 240px;
  aspect-ratio: 1/1;
}

.cardsSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* PAPIER PLIé */
.paper {
  width: 300px;
  aspect-ratio: 1/1;
  border-width: 1;
  border-color: black;
  background-color: coral;
  gap: 1px;
}

.paper .top-left {
  width: 150px;
  aspect-ratio: 1/1;
  background-color: coral;
  /* box-shadow: inset -10px -10px 20px 0px rgba(184, 49, 0, 0.08); */
  box-shadow: inset -10px -10px 20px 0px hsl(16, 100%, 58%);
}

.paper .top-right {
  width: 150px;
  aspect-ratio: 1/1;
  background-color: coral;
  /* box-shadow: inset 10px -10px 20px 0px rgba(184, 49, 0, 0.08); */
  box-shadow: inset 10px -10px 20px 0px hsl(16, 100%, 58%);
}

.paper .bottom-left {
  width: 150px;
  aspect-ratio: 1/1;
  background-color: coral;
  /* box-shadow: inset -10px 10px 20px 0px rgba(184, 49, 0, 0.08); */
  box-shadow: inset -10px 10px 20px 0px hsl(16, 100%, 58%);
}

.paper .bottom-right {
  width: 150px;
  aspect-ratio: 1/1;
  background-color: coral;
  /* box-shadow: inset 10px 10px 20px 0px rgba(184, 49, 0, 0.08); */
  box-shadow: inset 10px 10px 20px 0px hsl(16, 100%, 58%);
}

/* REVIEW SWIPER */
.reviewSwiper.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.reviewSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COUNTDOWN */
.containerAAAh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  width: 90%;
  max-width: 43rem;
  margin: 0 auto;
}

.containerBloop {
  position: relative;
}

.time-container {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 2.25rem;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0 10px 0 var(--Almost-black);
}

.top,
.bottom,
.overlay-top,
.overlay-bottom {
  height: 50%;
  overflow: hidden;
  background-color: coral;
  color: black;
  position: relative;
}

.top,
.overlay-top {
  line-height: 200%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.screen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #00000030;
}

.bottom,
.overlay-bottom {
  line-height: 0;
  border-top: 1px solid #00000025;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  perspective: 400px;
}

.overlay-top {
  transform-origin: bottom;
}

.overlay-bottom {
  transform-origin: top;
}

.tiny-circle-left,
.tiny-circle-right {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--Almost-black);
}

.tiny-circle-left {
  left: 0;
}

.tiny-circle-right {
  right: 0;
}

.top .tiny-circle-left,
.top .tiny-circle-right,
.overlay-top .tiny-circle-left,
.overlay-top .tiny-circle-right {
  bottom: 0;
}

.top .tiny-circle-left,
.overlay-top .tiny-circle-left {
  translate: -50% 50%;
}

.top .tiny-circle-right,
.overlay-top .tiny-circle-right {
  translate: 50% 50%;
}

.bottom .tiny-circle-left,
.bottom .tiny-circle-right,
.overlay-bottom .tiny-circle-left,
.overlay-bottom .tiny-circle-right {
  top: 0;
}

.bottom .tiny-circle-left,
.overlay-bottom .tiny-circle-left {
  translate: -50% -50%;
}

.bottom .tiny-circle-right,
.overlay-bottom .tiny-circle-right {
  translate: 50% -50%;
}

.label {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 26px;
  text-transform: uppercase;
  color: var(--Grayish-blue);
  font-weight: 700;
  font-size: 0.4375rem;
  letter-spacing: 0.185rem;
}

.overlay.flip .overlay-top {
  animation: flip-top 0.7s linear;
}

.overlay.flip .overlay-bottom {
  animation: flip-bottom 0.7s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@media (min-width: 38rem) {
  .time-container {
    font-size: 5rem;
  }
  .tiny-circle-left,
  .tiny-circle-right {
    width: 12px;
    height: 12px;
  }
  .label {
    font-size: 0.875rem;
    letter-spacing: 0.37rem;
  }
}

/* SOMETHING */
.coolDiv {
  width: 90%; /* Responsive width */
  max-width: 400px; /* Upper limit for the width */
  height: auto; /* Adjust height for content */
  aspect-ratio: 1; /* Maintain square aspect ratio */
  padding: 5%;
  border: 1px solid #ddd;
  background-size: cover;
  background-clip: content-box;
  background-color: #f66f6f;
  box-sizing: border-box;
  position: relative;
  margin: 30px auto;

  font: 400 2em "Oswald", sans-serif;
  color: #fbfbfb;
  text-indent: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.coolDiv:after {
  content: "";
  display: block;
  position: absolute;
  border: 10% solid transparent;
  border-bottom: 10% solid #fefefe;
  bottom: -12%;
  right: -13%;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.coolDiv:before {
  content: "";
  display: block;
  position: absolute;
  border: 10% solid transparent;
  border-top: 10% solid #fefefe;
  top: -12%;
  left: -13%;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}

/* Responsive Design */
@media (max-width: 768px) {
  .coolDiv {
    font-size: 1.5em;
  }

  .coolDiv:after,
  .coolDiv:before {
    border-width: 7%;
  }
}

@media (max-width: 480px) {
  .coolDiv {
    font-size: 1.2em;
  }

  .coolDiv:after,
  .coolDiv:before {
    border-width: 5%;
  }
}

.countdown {
  aspect-ratio: 1/1;
}

.perforations {
  position: absolute;
  top: 5px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.6);
}

.perforations:first-of-type {
  left: 10px;
}

.perforations:nth-child(2) {
  right: 10px;
}

.paper-ring {
  width: 6px;
  height: 24px;
  background-color: gray;
  transform: translate(60%, -55%);
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  );
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.6);
}

.perforations-mobile {
  position: absolute;
  top: 5px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.6);
}

.perforations-mobile:first-of-type {
  left: 5px;
}

.perforations-mobile:nth-child(2) {
  right: 5px;
}

.paper-ring {
  width: 4px;
  height: 18px;
  background-color: gray;
  transform: translate(60%, -60%);
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  );
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.6);
}

/* PARTNERS SLIDER */
.partnersSlider.swiper {
  width: 100%;
  height: 50px; /* Set your desired slider height */
}

.partnersSlider .swiper-slide {
  display: flex; /* Center the image if needed */
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 100%;
  width: fit-content;
}

.partnersSlider img {
  height: 100%; /* Take the full height of the slide */
  width: auto; /* Maintain aspect ratio */
}

.notes {
  /* margin: 2em auto; */
  background: #fff;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 21'%3E%3Cpath d='M20 0h-7v6.9a7.5 7.5 0 107 0V0z' fill='%23FDE68A'/%3E%3Cpath d='M13 0h3v6.9a7.5 7.5 0 002 14 7.5 7.5 0 01-9-7.4c0-2.9 1.6-5.4 4-6.6V0z' fill='%23A29359'/%3E%3C/svg%3E");
  background-size: 2em 1.3125em;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
}

.text-shadow {
  text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff, 1px 1px #fff,
    -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
}

.highlighter::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f6838d;
  transform: skew(-12deg) translate(-1.5rem);
  transform-origin: left;
  z-index: -2;
  opacity: 0.8;
}

.dynamicSwiper .swiper-slide {
  height: auto;
}

/* FAQ */
.boxx {
  min-width: 250px;
  display: block;
  height: fit-content;
  border-radius: 5px;
  background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%);
  padding: 1em;
  position: relative;
  color: darkslategray;
  box-shadow: 1px 2px 1px -1px rgba(119, 119, 119, 0.6);
  transition: background 200ms ease-in-out;
}

.boxx::before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 50%;
  top: 0;
  box-shadow: 0 15px 10px rgba(119, 119, 119, 0.8);
  transform: rotate(4deg);
  transition: all 150ms ease-in-out;
}

.boxx:hover {
  background: linear-gradient(to right, #abbd73 0%, #abbd73 100%);
}

.boxx:hover::before {
  transform: rotate(0deg);
  bottom: 20px;
}

.circlee {
  float: left;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px white;
  width: 20px;
  height: 20px;
  margin-right: 1em;
}

.field-sizing-content {
  field-sizing: content;
}
