@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --OMBpink: #f6838d;
  --pastelPink: #fcc0c5;
  --OMBorange: #f7a976;
  --OMBcoral: #f79d8e;
}

@media (max-width: 700px) {
  :root {
    font-size: 13px;
  }
  @supports (-webkit-touch-callout: none) {
    :root {
      font-size: 14px; /* iOS-specific font size */
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
}

.navlink::before,
.sublink::before {
  content: "";
  position: absolute;
  top: 40%;
  width: calc(100% + 1em);
  height: 0.75em;
  opacity: 0.8;
  background: var(--pastelPink);
  transform: translate(-0.5em) skew(-12deg) scaleX(0);
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -2;
}

.navlink-container:hover .navlink::before,
.navlink.active::before,
.sublink-container:hover .sublink::before,
.sublink.active::before {
  transform: translate(-0.5em) skew(-12deg) scaleX(1); /* Highlighter becomes visible */
}

.navlink.active::before,
.sublink.active::before {
  background: var(--OMBpink);
}

/* Fix for canceling the cascading trigger of the transition (not trigger highlighter effect in submenu when opening the submenu by hovering the parent) */
.sublink::before {
  visibility: hidden;
}

.sublink-container:hover .sublink::before,
.sublink.active::before {
  visibility: visible;
}

.footer-link::before {
  content: "";
  position: absolute;
  top: 75%; /* Align vertically */
  left: -0.5rem; /* Start from the left */
  width: calc(100% + 1rem);
  height: 0.75em; /* Height of the highlight */
  background: var(--pastelPink);
  transform: translateY(-50%) skew(-12deg) scaleX(0); /* Hidden initially */
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.footer-link-container:hover .footer-link::before {
  transform: translateY(-50%) skew(-12deg) scaleX(1); /* Expand on hover */
}

/* HIGHLIGHTER EFFECT */
.realistic-marker-highlight {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='400' height='30' viewBox='0 0 400 30' preserveAspectRatio='none'><path d='M10,5 L390,0 L400,25 L0,30 Z' fill='%23fcc0c5'/></svg>");
  background-size: 100% 1.2em;
  background-position: 0;
  padding: 0 0.5em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.realistic-marker-highlight2 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='400' height='30' viewBox='0 0 400 30' preserveAspectRatio='none'><path d='M10,5 L390,0 L400,25 L0,30 Z' fill='%23f7a976'/></svg>");
  background-size: 100% 1.2em;
  background-position: 0;
  padding: 0 0.5em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.realistic-marker-highlight3 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='400' height='30' viewBox='0 0 400 30' preserveAspectRatio='none'><path d='M10,5 L390,0 L400,25 L0,30 Z' fill='%23f79d8e'/></svg>");
  background-size: 100% 1.2em;
  background-position: 0;
  padding: 0 0.5em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.realistic-marker-highlight4 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='400' height='30' viewBox='0 0 400 30' preserveAspectRatio='none'><path d='M10,5 L390,0 L400,25 L0,30 Z' fill='%23f6838d'/></svg>");
  background-size: 100% 1.2em;
  background-position: 0;
  padding: 0 0.5em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/* MENU */
.header-mobile {
  transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  visibility: hidden;
  transform: translateY(-100%);
  z-index: -2;
}

.header-mobile > ul {
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -20%);
}

.header-mobile.show {
  transform: translateY(0);
  visibility: visible;
}

.header-mobile.show > ul {
  opacity: 1;
  transform: translate(-50%, 10%);
}

/* COUNTDOWN */
:root .countdown {
  line-height: 1em;
}
.countdown {
  display: inline-flex;
  aspect-ratio: 1/1;
  width: 100%;
}
.countdown > * {
  height: 1em;
  display: inline-block;
  overflow-y: hidden;
}
.countdown > *:before {
  position: relative;
  content: "00\A 01\A 02\A 03\A 04\A 05\A 06\A 07\A 08\A 09\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A 18\A 19\A 20\A 21\A 22\A 23\A 24\A 25\A 26\A 27\A 28\A 29\A 30\A 31\A 32\A 33\A 34\A 35\A 36\A 37\A 38\A 39\A 40\A 41\A 42\A 43\A 44\A 45\A 46\A 47\A 48\A 49\A 50\A 51\A 52\A 53\A 54\A 55\A 56\A 57\A 58\A 59\A 60\A 61\A 62\A 63\A 64\A 65\A 66\A 67\A 68\A 69\A 70\A 71\A 72\A 73\A 74\A 75\A 76\A 77\A 78\A 79\A 80\A 81\A 82\A 83\A 84\A 85\A 86\A 87\A 88\A 89\A 90\A 91\A 92\A 93\A 94\A 95\A 96\A 97\A 98\A 99\A";
  white-space: pre;
  top: calc(var(--value) * -1em);
  text-align: center;
  transition: all 1s cubic-bezier(1, 0, 0, 1);
}

.perforations {
  position: absolute;
  top: 5px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.6);
}

.perforations:first-of-type {
  left: 10px;
}

.perforations:nth-child(2) {
  right: 10px;
}

.paper-ring {
  width: 6px;
  height: 24px;
  background-color: gray;
  transform: translate(60%, -55%);
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  );
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.6);
}

.perforations-mobile {
  position: absolute;
  top: 5px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.6);
}

.perforations-mobile:first-of-type {
  left: 5px;
}

.perforations-mobile:nth-child(2) {
  right: 5px;
}

.paper-ring {
  width: 4px;
  height: 18px;
  background-color: gray;
  transform: translate(60%, -60%);
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  );
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.6);
}

.notes {
  /* margin: 2em auto; */
  background: #fff;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 21'%3E%3Cpath d='M20 0h-7v6.9a7.5 7.5 0 107 0V0z' fill='%23FDE68A'/%3E%3Cpath d='M13 0h3v6.9a7.5 7.5 0 002 14 7.5 7.5 0 01-9-7.4c0-2.9 1.6-5.4 4-6.6V0z' fill='%23A29359'/%3E%3C/svg%3E");
  background-size: 2em 1.3125em;
  background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
  color: black;
}

.text-shadow {
  text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff, 1px 1px #fff,
    -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
}

.highlighter::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f6838d;
  transform: skew(-12deg) translate(-1.5rem);
  transform-origin: left;
  z-index: -2;
  opacity: 0.8;
}

/* FAQ */
.boxx {
  min-width: 250px;
  display: block;
  height: fit-content;
  border-radius: 5px;
  /* background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%); */
  background: linear-gradient(to right, #faebed 35%, #ffffff 100%);
  padding: 1em;
  position: relative;
  color: #171717;
  box-shadow: 1px 2px 1px -1px rgba(119, 119, 119, 0.6);
  transition: background 200ms ease-in-out;
}

.boxx::before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 50%;
  top: 0;
  box-shadow: 0 15px 10px rgba(119, 119, 119, 0.8);
  transform: rotate(4deg);
  transition: all 150ms ease-in-out;
}

.boxx:hover {
  /* background: linear-gradient(to right, #abbd73 0%, #abbd73 100%); */
  background: linear-gradient(to right, #faebed 0%, #faebed 100%);
}

.boxx:hover::before {
  transform: rotate(0deg);
  bottom: 20px;
}

.circlee {
  float: left;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px #f6838d;
  width: 20px;
  height: 20px;
  margin-right: 1em;
}

.custom-bg1 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 400"><path d="M1.7937219142913818,122.86995697021484C62.03288471698761,102.69058446089427,330.79222706953686,-43.34828273455302,363.22869873046875,1.7937219142913818C395.66517039140064,46.93572656313578,124.51419576009114,367.41406341393787,196.4125518798828,393.72198486328125C268.3109079996745,420.02990631262463,723.4678675333658,224.96262776851654,794.6188354492188,159.64125061035156C865.7698033650717,94.31987345218658,660.8370463053385,-37.668164173762,623.318359375,1.7937219142913818C585.7996724446615,41.255608002344765,656.2032712300619,396.5620439648628,569.5067138671875,396.4125671386719C482.81015650431317,396.2630903124809,197.9073240160942,1.0463411410649617,103.1390151977539,0.8968609571456909C8.370706379413605,0.74738077322642,17.93721999724706,329.7458818554878,0.8968609571456909,395.51568603515625" fill="none" stroke-width="3" stroke="%23f7a976" stroke-linecap="round" transform="matrix(1.0850921409619443,-0.3949412407463338,0.3949412407463338,1.0850921409619443,-116.61549433712548,148.65835664469046)"></path><defs><linearGradient id="SvgjsLinearGradient1002"><stop stop-color="hsl(37, 99%, 67%)" offset="0"></stop><stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop></linearGradient></defs></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
}

.custom-bg2 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 400"><path d="M7.174887657165527,94.17040252685547C88.78923599720001,69.68609824180604,187.1748820066452,-77.64574337005615,258.29595947265625,18.834081649780273C329.4170369386673,115.3139066696167,308.2062800526619,301.2556193828583,226.00897216796875,391.0314025878906C143.8116642832756,480.80718579292295,-114.7085160255432,420.69506748914716,5.381165981292725,295.0672607421875C125.47084798812865,169.43945399522784,340.47084549665453,33.63228616714478,595.5156860351562,4.484304904937744C850.560526573658,-24.66367635726929,810.8295867919921,79.1704049229622,790.134521484375,205.38116455078125C769.4394561767579,331.59192417860027,620.1569549560547,396.9058185577393,531.8385620117188,392.8251037597656C443.5201690673828,388.74438896179197,431.5246292114258,192.53363265991212,518.3856201171875,192.8251190185547C605.2466110229492,193.11660537719726,707.8699523925782,328.43050346374514,799.1031494140625,393.72198486328125" fill="none" stroke-width="3" stroke="%23f0798a" stroke-linecap="round" transform="matrix(0.9350000307608588,0.34031218023493615,-0.34031218023493615,0.9350000307608588,96.37950883694083,-119.02359102085455)"></path><defs><linearGradient id="SvgjsLinearGradient1013"><stop stop-color="hsl(37, 99%, 67%)" offset="0"></stop><stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop></linearGradient></defs></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
}

.custom-bg3 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 400"><path d="M0,168.60986328125C17.488788604736328,141.10612670580545,57.39910125732422,7.772794882456462,104.93273162841797,3.5874438285827637C152.46636199951172,-0.5979072252909345,264.1255480448405,78.32585835456848,285.2017822265625,143.4977569580078C306.2780164082845,208.66965556144714,263.97608439127606,363.8266067504883,231.39013671875,394.61883544921875C198.80418904622397,425.4110641479492,70.70254007975261,351.27056376139325,89.68609619140625,328.2511291503906C108.66965230305989,305.231694539388,274.28997802734375,249.17786661783853,345.2914733886719,256.5022277832031C416.29296875,263.8265889485677,441.70403544108075,370.1046193440755,515.695068359375,372.1972961425781C589.6861012776693,374.28997294108075,743.049326578776,311.5097058614095,789.2376708984375,269.05828857421875C835.426015218099,226.60687128702799,824.962656656901,161.88341001669565,792.8251342773438,117.4887924194336C760.6876118977865,73.09417482217154,652.4663543701172,9.267563581466675,596.4125366210938,2.6905829906463623C540.3587188720703,-3.88639760017395,458.14647420247394,36.32287355264028,456.5022277832031,78.02690887451172C454.8579813639323,119.73094419638315,541.2555796305338,199.85051854451498,586.5470581054688,252.914794921875C631.8385365804037,305.97907129923504,704.6337585449219,372.49627176920575,728.2510986328125,396.4125671386719" fill="none" stroke-width="3" stroke="%23fcc0c5" stroke-linecap="round" transform="matrix(1.036011114416464,-0.3770772080165497,0.3770772080165497,1.036011114416464,-101.16742061267388,145.42765647949693)"></path><defs><linearGradient id="SvgjsLinearGradient1004"><stop stop-color="hsl(37, 99%, 67%)" offset="0"></stop><stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop></linearGradient></defs></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}

/* POST IT REVIEWS */
.sticky-note {
  position: relative;
  width: 300px;
  aspect-ratio: 1/1;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 234, 237, 1) 100%
  );

  border-radius: 2px;
}

.bg-chiant {
  background-image: url("/single-doodle.png"), url("/3stars-doodle.png"),
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 400"><path d="M0,168.60986328125C17.488788604736328,141.10612670580545,57.39910125732422,7.772794882456462,104.93273162841797,3.5874438285827637C152.46636199951172,-0.5979072252909345,264.1255480448405,78.32585835456848,285.2017822265625,143.4977569580078C306.2780164082845,208.66965556144714,263.97608439127606,363.8266067504883,231.39013671875,394.61883544921875C198.80418904622397,425.4110641479492,70.70254007975261,351.27056376139325,89.68609619140625,328.2511291503906C108.66965230305989,305.231694539388,274.28997802734375,249.17786661783853,345.2914733886719,256.5022277832031C416.29296875,263.8265889485677,441.70403544108075,370.1046193440755,515.695068359375,372.1972961425781C589.6861012776693,374.28997294108075,743.049326578776,311.5097058614095,789.2376708984375,269.05828857421875C835.426015218099,226.60687128702799,824.962656656901,161.88341001669565,792.8251342773438,117.4887924194336C760.6876118977865,73.09417482217154,652.4663543701172,9.267563581466675,596.4125366210938,2.6905829906463623C540.3587188720703,-3.88639760017395,458.14647420247394,36.32287355264028,456.5022277832031,78.02690887451172C454.8579813639323,119.73094419638315,541.2555796305338,199.85051854451498,586.5470581054688,252.914794921875C631.8385365804037,305.97907129923504,704.6337585449219,372.49627176920575,728.2510986328125,396.4125671386719" fill="none" stroke-width="3" stroke="%23fcc0c5" stroke-linecap="round" transform="matrix(1.036011114416464,-0.3770772080165497,0.3770772080165497,1.036011114416464,-101.16742061267388,145.42765647949693)"></path><defs><linearGradient id="SvgjsLinearGradient1004"><stop stop-color="hsl(37, 99%, 67%)" offset="0"></stop><stop stop-color="hsl(316, 73%, 52%)" offset="1"></stop></linearGradient></defs></svg>');
  background-position: 1% 98%, 45% 55%, center;
  background-size: 80px, 100px, cover;
  background-repeat: no-repeat;
  background-blend-mode: normal, normal, soft-light;
}

/* FORM STYLING */

.field-sizing-content {
  field-sizing: content;
}

input[type="date"],
input[type="time"] {
  -webkit-appearance: none; /* Remove native styling */
  -moz-appearance: none;
  appearance: none;
}

/* SWIPER CUSTOMIZATION */

.customSwiper.swiper {
  overflow: visible; /* To be able to see pagination and cards effect */
}

.customSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullWidthSwiper.swiper {
  width: 100%;
  height: 100%;
}

.cardsEffectSwiper.swiper {
  width: 264px;
  aspect-ratio: 1/1;
  padding-bottom: 20px; /* Add more space before pagination */
}

.customSwiper .swiper-pagination-bullet-active,
.eventCardSwiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}

.customSwiper .swiper-pagination {
  bottom: -20px !important; /* Lower the dots */
}

/* REVIEW SWIPER */
.reviewSwiper.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.reviewSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARDS SWIPER */
.cardsSwiper.swiper {
  width: 240px;
  aspect-ratio: 1/1;
}

.cardsSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.eventCardSwiper.swiper {
  overflow: visible;
}

.eventCardSwiper .swiper-pagination {
  bottom: -32px !important; /* Lower the dots */
}

/* PARTNERS SLIDER */
.partnersSlider.swiper {
  width: 100%;
  height: 50px; /* Set your desired slider height */
}

.partnersSlider .swiper-slide {
  display: flex; /* Center the image if needed */
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 100%;
  width: fit-content;
}

.partnersSlider img {
  height: 100%; /* Take the full height of the slide */
  width: auto; /* Maintain aspect ratio */
}

.dynamicSwiper .swiper-slide {
  height: auto;
}

.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-button-next {
  /* background-color: rgba(220, 220, 220, 0.6); */
  background-color: rgba(252, 192, 197, 0.6);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 9;
  top: 45%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.eventCardSwiper .swiper-button-prev {
  transform: translateX(-50%);
}

.eventCardSwiper .swiper-button-next {
  transform: translateX(50%);
  right: 0;
}

.customSwiper .swiper-button-prev {
  transform: translateX(50%);
}

.customSwiper .swiper-button-next {
  transform: translateX(-50%);
  right: 0;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  /* background-color: rgba(220, 220, 220, 0.8); */
  background-color: rgba(252, 192, 197, 0.8);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 40px;
  font-family: var(--font-caprasimo), serif;
  /* color: gray; */
  color: var(--OMBpink);
  line-height: 50px;
}

.swiper-button-prev::after {
  content: "<";
  padding-right: 2px;
}

.swiper-button-next::after {
  content: ">";
  padding-left: 2px;
}

/* 404 PAGE */
.landscape {
  background: bottom / cover no-repeat url("/landscape3.png");
}

.sidebar-link.active {
  color: var;
}
